```css id="6av7jo"
body{
    font-family: Arial;
    padding: 30px;
    background-color: white;
}

h1{
    font-size: 50px;
    margin-bottom: 40px;
}

.section{
    margin-bottom: 45px;
}

.section h2{
    display: inline-block;
    width: 220px;
    font-size: 45px;
    margin-right: 20px;
    vertical-align: middle;
}

button{
    cursor: pointer;
    transition: all 0.15s;
    font-size: 28px;
    vertical-align: middle;
}

/* UBER */
.uber-btn{
    background-color: black;
    color: white;
    border: none;
    height: 80px;
    width: 230px;
}

.uber-btn:hover{
    opacity: 0.8;
}

/* AMAZON */
.amazon-btn{
    background-color: rgb(255, 216, 20);
    border: none;
    height: 75px;
    width: 430px;
    border-radius: 40px;
    font-size: 30px;
}

.amazon-btn:hover{
    background-color: rgb(245, 205, 3);
}

/* GITHUB */
.github-btn{
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 80px;
    width: 250px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 30px;
}

.github-btn:hover{
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* BOOTSTRAP */
.bootstrap-start{
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    height: 85px;
    width: 300px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 20px;
}

.bootstrap-start:hover{
    background-color: rgb(99, 60, 156);
}

.bootstrap-download{
    background-color: white;
    color: rgb(108, 117, 125);
    border: 2px solid rgb(108, 117, 125);
    height: 85px;
    width: 300px;
    border-radius: 8px;
    font-weight: bold;
}

.bootstrap-download:hover{
    background-color: rgb(108, 117, 125);
    color: white;
}

/* LINKEDIN */
.linkedin-apply{
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 85px;
    width: 620px;
    border-radius: 45px;
    font-weight: bold;
    margin-right: 20px;
}

.linkedin-apply:hover{
    background-color: rgb(2, 70, 138);
}

.linkedin-save{
    background-color: white;
    color: rgb(10, 102, 194);
    border: 2px solid rgb(10, 102, 194);
    height: 85px;
    width: 180px;
    border-radius: 45px;
    font-weight: bold;
}

.linkedin-save:hover{
    border-width: 3px;
    background-color: rgb(240, 248, 255);
}
```
